.rc-slider-track {
    background-color: rgba(0, 0, 0, 0.733);
  }
  
  .rc-slider-dot-active {  
    border-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
  }
  
  .rc-slider-handle {
    background-color: rgba(0, 0, 0, 0.733);
    border-color: rgba(0, 0, 0, 0.733);
  }
  
  .rc-slider-handle:hover {
    border-color: rgb(0, 0, 0);
  }
  
  .rc-slider-handle-active:active {
    border-color: rgb(0, 0, 0);
  }